@import "./props.scss";
@import "./fonts.scss";
@import "./theme.scss";
@import "./zuz.scss";

*, body{font-family: "Roboto", sans-serif !important;}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;  
  background: var(--body);
  color: var(--text);
}
a{ color: var(--text); user-select: none; }

nextjs-portal {
  display: none;
}

:root{
  --text-wheel-speed: .1 !important;
  --text-wheel-transition: translate calc(var(--text-wheel-speed) * 1s) linear !important;
}

.btn{
  border: 0px;
  color: white;
  border-radius: var(--btn-radius);
  padding: 5px 15px;
  &.link{
    background: transparent;
    padding: 0px !important;
    border: 0px;
    color: var(--text);
    &:hover{
      text-decoration: underline; 
    }
  }
  &.primary{
    background: var(--primary);
    &:hover{
      background: var(--primary-hover);
    }
  }
  &.secondary{
    background: var(--secondary);
    &:hover{
      background: var(--secondary-hover);
    }
  }
}